{% extends 'quiz/base.html' %}
{% load static %}

{% block content %}
<div class="register-form">	
	<form method="POST">
		{% csrf_token %}
		<table class="register-table">
			{{ form.as_table }}
			{% if form.errors %}
				{% for field in form %}
					{% for error in field.errors %}
					<div class="alert alert-danger">
						<strong>{{ error|escape }}</strong>
					</div>
					{% endfor %}
				{% endfor %}
				{% for error in form.non_field_errors %}
				<div class="alert alert-danger">
					<strong>{{ error|escape }}</strong>
				</div>
				{% endfor %}
			{% endif %}
			<tr>
				<td></td>
				<td><button class="btn" type="submit">Register</button></td>
			</tr>
		</table>
	</form><br>
	If you already have an account, <a href="{% url 'login' %}">login</a> instead.
</div>
{% endblock %}